/*RESPONSIVE NAVIGATION ANIMATION START*/
@keyframes line1 {
    from{
        top: 10px;
    }
    to{
        top: 5px;
    }
}
@keyframes line1Active {
    from{
        top: 5px;
    }
    to{
        top: 10px;
    } 
}
@keyframes line3 {
    from{
        top: 10px;
    }
    to{
        bottom: 5px;
    }
}
@keyframes line3Active {
    from{
        bottom: 5px;
    }
    to{
        top: 10px;
    } 
}
/*--------------LINE 3 END-----------------*/
/*RESPONSIVE NAVIGATION ANIMATION END*/