@media only screen and (min-width: 1400px) and (max-width: 1800px) {
    * {
        font-size: 60%;
    }
    body{
        header{
            .logo{
                padding-left: 3%;
            }
        }
        .home-page-wrapper{
            .main-wrapper{
                .picture{
                    top: 5%;
                    left: 2%;
                }
                .right{
                    .right-text-wrapper{
                        h2{
                            font-size: 2.5rem;
                        }
                        p{
                            width: 100%;
                        }
                    }
                }
            }

        }
        .portfolio-page-wrapper{
            .portfolio-page{
                .project-wrapper{
                    .project{
                        width: 500px;
                    }
                }
            }
        }
        .contact-page-wrapper{
            .contact-page{
                .contact-me{
                    height: 650px;  
                }
            }
            .contact-page.cp-left{
                .contact-me.box-left{
                    h1 {
                        font-size: 3rem;
                    }
    
                    h2 {
                        font-size: 2rem;
                    }
    
                    h3 {
                        font-size: 1.5rem;
                    }
                }
            }
            .contact-page.cp-right{
                .contact-me.box-right{
                    .avatar{
                        width: 200px;
                        height: 200px;
                        .hi{
                            width: 100px;
                            height: 100px;
                            top: -65px;
                            right: -65px;
                        }
                    }
                    .social-media{
                        svg{
                            font-size: 3.5rem;
                        }
                    }
                }
            }  
        }
    }
}
/*screen and (min-width: 1400px) and (max-width: 1800px) END */
@media only screen and (min-width: 1000px) and (max-width: 1400px) {
    * {
        font-size: 50%;
    }
    body{
        width: 100%;
        header{
            .logo{
                padding-left: 10px;
            }
        }
        .home-page-wrapper{
            .main-wrapper{
                .picture{
                    top: 5%;
                    left: 0;
                    width: 350px;
                    height: 600px;
                }
                .right{
                    .right-text-wrapper{
                        h2{
                            font-size: 2.5rem;
                        }
                        p{
                            width: 100%;
                        }
                    }
                }
            }
        }
        .about-page-wrapper{
            .box{
                .description{
                    width: 70%;
                }
            }   
        }
        .portfolio-page-wrapper{
            .portfolio-page{
                .project-wrapper{
                    .project{
                        width: 400px;
                        height: 250px;
                        .cover{
                            a{
                                margin-top: 100px;
                            }
                        }
                    }
                }
            }
        }
        .contact-page-wrapper{
            .contact-page{
                .contact-me{
                    height: 600px;  
                }
            }
            .contact-page.cp-left{
                .contact-me.box-left{
                    h1 {
                        font-size: 3rem;
                    }
    
                    h2 {
                        font-size: 2rem;
                    }
    
                    h3 {
                        font-size: 1.5rem;
                    }
                    .contact-form{
                        input{
                            height: 20px;
                        }
                        input[type = submit]{
                            margin: 20px auto;
                            width: 100px;
                            height: 40px;
                        }
                    } 
                }
            }
            .contact-page.cp-right{
                .contact-me.box-right{
                    .avatar{
                        width: 200px;
                        height: 200px;
                        .hi{
                            width: 100px;
                            height: 100px;
                            top: -65px;
                            right: -65px;
                        }
                    }
                    .social-media{
                        svg{
                            font-size: 3.5rem;
                        }
                    }
                }
            }  
        }
        footer{
            .footer-box.left{
                .footer-contact{
                    ul{
                        li{
                            span{
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }
            
        }
    }
}
/*screen and (min-width: 1000px) and (max-width: 1400px) END */
@media only screen and (min-width: 750px) and (max-width: 1000px){
    *{
        font-size: 45%;
    }
    body{
        width: 100%;
        header{
            height: 50px;
            width: 100vw;
            background-color: $whiteish;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: fixed;
            top: 0;
            .logo{
                padding-left: 5px;
                width: 150px;
            }
            .burger-responsive{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0 20px;
                width: 40px;
                height: 80%;
                position: relative;
                div{
                    content: "";
                    height: 4px;
                    width: 35px;
                    background-color: $mainColor;
                    margin-top: 8px;
                    border-radius: 4px;
                    position: absolute;
                }
                #line1{
                    top: 5px;
                    -webkit-transform: rotate(0);
                    -moz-transform: rotate(0);
                    -ms-transform: rotate(0);
                    -o-transform: rotate(0);
                    transform: rotate(0);
                    animation: line1 200ms linear;
                    -webkit-animation: line1 200ms linear;
                    -moz-animation: line1 200ms linear;
                    -ms-animation: line1 200ms linear;
                    -o-animation: line1 200ms linear;
                    animation: line1 200ms linear;
                }
                #line2{
                    opacity: 1;
                    -webkit-transform: translateX(0);
                    -moz-transform: translateX(0);
                    -ms-transform: translateX(0);
                    -o-transform: translateX(0);
                    transform: translateX(0);
                    -webkit-transition: transform 200ms linear, opacity 200ms linear;
                    -moz-transition: transform 200ms linear, opacity 200ms linear;
                    -ms-transition: transform 200ms linear, opacity 200ms linear;
                    -o-transition: transform 200ms linear, opacity 200ms linear;
                    transition: transform 200ms linear, opacity 200ms linear;
                }
                #line3{
                    bottom: 5px;
                    -webkit-transform: rotate(0);
                    -moz-transform: rotate(0);
                    -ms-transform: rotate(0);
                    -o-transform: rotate(0);
                    transform: rotate(0);
                    -webkit-animation: line3 200ms linear;
                    -moz-animation: line3 200ms linear;
                    -ms-animation: line3 200ms linear;
                    -o-animation: line3 200ms linear;
                    animation: line3 200ms linear;
                }
            }
            .burger-responsive.active{
                #line1{
                    position: absolute;
                    top: 10px;
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                    -webkit-transition: transform 200ms linear;
                    -moz-transition: transform 200ms linear;
                    -ms-transition: transform 200ms linear;
                    -o-transition: transform 200ms linear;
                    transition: transform 200ms linear;
                    -webkit-animation: line1Active 200ms linear;
                    -moz-animation: line1Active 200ms linear;
                    -ms-animation: line1Active 200ms linear;
                    -o-animation: line1Active 200ms linear;
                    animation: line1Active 200ms linear;
                    
                }
                #line2{
                    -webkit-transform: translateX(-200%);
                    -moz-transform: translateX(-200%);
                    -ms-transform: translateX(-200%);
                    -o-transform: translateX(-200%);
                    transform: translateX(-200%);
                    opacity: 0;
                }
                #line3{
                    position: absolute;
                    top: 10px;
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    -webkit-transition: transform 200ms linear;
                    -moz-transition: transform 200ms linear;
                    -ms-transition: transform 200ms linear;
                    -o-transition: transform 200ms linear;
                    transition: transform 200ms linear;
                    -webkit-animation: line2Active 200ms linear;
                    -moz-animation: line2Active 200ms linear;
                    -ms-animation: line2Active 200ms linear;
                    -o-animation: line2Active 200ms linear;
                    animation: line2Active 200ms linear;
                }
            }
            .nav-responsive{
                position: absolute;
                top: 50px;
                right: 0;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100vh;
                background-color: $mainColor;
                -webkit-transform: translateX(110%);
                -moz-transform: translateX(110%);
                -ms-transform: translateX(110%);
                -o-transform: translateX(110%);
                transform: translateX(110%);
                opacity: 0;
                -webkit-transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
                -moz-transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
                -ms-transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
                -o-transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
                transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
                .nav-responsive-links{
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                    a{
                        font-family: $Merri;
                        font-size: 4rem;
                        text-decoration: underline;
                        text-transform: uppercase;
                        color: $whiteish;
                        text-align: center;
                        display: block;
                        margin: 20px auto;
                    }
                }
                .nav-responsive-message{
                    color: $whiteish;
                    text-align: center;
                    width: 60%;
                    margin: 50px auto;
                    h1{
                        font-size: 3.5rem;
                        margin: 20px auto;
                    }
                    h2, a{
                        font-size: 3rem;
                        color: $whiteish;
                        text-decoration: none;
                        margin: 20px auto;
                    }
                }
                
            }
            .nav-responsive.active{
                transform: translateX(0);
                opacity: 1;
                transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
                z-index: 2000;
            }
            
        }
        /*----------HEADER END------------------------------------------*/
        .home-page-wrapper{
            padding-top: 50px;
            .navigation-wrapper{
                display: none;
            }
            .main-wrapper{
                width: 100%;
                .picture{
                    top: 20px;
                    left: 5px;
                    width: 350px;
                    height: 600px;
                    img{
                        border: none;
                    }
                }
                .right{
                    .right-text-wrapper{
                        margin: 0 10px;
                        h2{
                            font-size: 2.5rem;
                        }
                        p{
                            width: 100%;
                        }
                    }
                }
            }
            .main-wrapper.loaded{
                height: auto;
                .left{
                    width: 50%;
                }
                .right{
                    width: 50%;
                    .right-text-wrapper{
                        width: 95%;
                    }
                }
            }
        }
        .space-page-wrapper{
            display: none;
        }
        .about-page-wrapper{
            .box{
                h1{
                    top: 100px;
                }
                .description{
                    margin: 50px auto;
                }
            } 
        }
        .portfolio-page-wrapper{
            .portfolio-page{
                padding-top: 50px;
                .project-wrapper{
                    .project{
                        height: 180px;
                        .cover{
                            a{
                                margin-top: 50px;
                            }
                        }
                    }
                }
            }
        }
        .contact-page-wrapper{
            .contact-page{
                .contact-me{
                    width: 100%;
                }
            }
            .contact-page.cp-left{
                .contact-me.box-left{
                    .contact-form{
                        width: 80%;
                    }
                }
            } 
        }
        footer{
            .footer-box.left{
                .footer-message{
                    display: none;
                }
                .footer-contact{
                    width: 80%;
                }
            }
        }
    }
    @import "keyframes-responsive";
}
@media only screen and (min-width: 320px) and (max-width: 750px){
    *{
        font-size: 35%;
    }
    body{
        width: 100%;
        header{
            height: 50px;
            background-color: $whiteish;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: fixed;
            top: 0;
            .logo{
                padding-left: 5px;
                width: 150px;
            }
            .burger-responsive{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 20%;
                height: 80%;
                position: relative;
                div{
                    content: "";
                    height: 4px;
                    width: 35px;
                    background-color: $mainColor;
                    margin-top: 8px;
                    border-radius: 4px;
                    position: absolute;
                }
                #line1{
                    top: 5px;
                    -webkit-transform: rotate(0);
                    -moz-transform: rotate(0);
                    -ms-transform: rotate(0);
                    -o-transform: rotate(0);
                    transform: rotate(0);
                    animation: line1 200ms linear;
                    -webkit-animation: line1 200ms linear;
                    -moz-animation: line1 200ms linear;
                    -ms-animation: line1 200ms linear;
                    -o-animation: line1 200ms linear;
                    animation: line1 200ms linear;
                }
                #line2{
                    opacity: 1;
                    -webkit-transform: translateX(0);
                    -moz-transform: translateX(0);
                    -ms-transform: translateX(0);
                    -o-transform: translateX(0);
                    transform: translateX(0);
                    -webkit-transition: transform 200ms linear, opacity 200ms linear;
                    -moz-transition: transform 200ms linear, opacity 200ms linear;
                    -ms-transition: transform 200ms linear, opacity 200ms linear;
                    -o-transition: transform 200ms linear, opacity 200ms linear;
                    transition: transform 200ms linear, opacity 200ms linear;
                }
                #line3{
                    bottom: 5px;
                    -webkit-transform: rotate(0);
                    -moz-transform: rotate(0);
                    -ms-transform: rotate(0);
                    -o-transform: rotate(0);
                    transform: rotate(0);
                    -webkit-animation: line3 200ms linear;
                    -moz-animation: line3 200ms linear;
                    -ms-animation: line3 200ms linear;
                    -o-animation: line3 200ms linear;
                    animation: line3 200ms linear;
                }
            }
            .burger-responsive.active{
                #line1{
                    position: absolute;
                    top: 10px;
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                    -webkit-transition: transform 200ms linear;
                    -moz-transition: transform 200ms linear;
                    -ms-transition: transform 200ms linear;
                    -o-transition: transform 200ms linear;
                    transition: transform 200ms linear;
                    -webkit-animation: line1Active 200ms linear;
                    -moz-animation: line1Active 200ms linear;
                    -ms-animation: line1Active 200ms linear;
                    -o-animation: line1Active 200ms linear;
                    animation: line1Active 200ms linear;
                    
                }
                #line2{
                    -webkit-transform: translateX(-200%);
                    -moz-transform: translateX(-200%);
                    -ms-transform: translateX(-200%);
                    -o-transform: translateX(-200%);
                    transform: translateX(-200%);
                    opacity: 0;
                }
                #line3{
                    position: absolute;
                    top: 10px;
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    -webkit-transition: transform 200ms linear;
                    -moz-transition: transform 200ms linear;
                    -ms-transition: transform 200ms linear;
                    -o-transition: transform 200ms linear;
                    transition: transform 200ms linear;
                    -webkit-animation: line2Active 200ms linear;
                    -moz-animation: line2Active 200ms linear;
                    -ms-animation: line2Active 200ms linear;
                    -o-animation: line2Active 200ms linear;
                    animation: line2Active 200ms linear;
                }
            }
            .nav-responsive{
                position: absolute;
                top: 50px;
                right: 0;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100vh;
                background-color: $mainColor;
                -webkit-transform: translateX(110%);
                -moz-transform: translateX(110%);
                -ms-transform: translateX(110%);
                -o-transform: translateX(110%);
                transform: translateX(110%);
                opacity: 0;
                -webkit-transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
                -moz-transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
                -ms-transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
                -o-transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
                transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
                .nav-responsive-links{
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                    a{
                        font-family: $Merri;
                        font-size: 3rem;
                        text-decoration: underline;
                        text-transform: uppercase;
                        color: $whiteish;
                        text-align: center;
                        display: block;
                        margin: 20px auto;
                    }
                }
                .nav-responsive-message{
                    color: $whiteish;
                    text-align: center;
                    margin: 10px;
                    h1{
                        font-size: 3.5rem;
                        margin: 20px auto;
                    }
                    h2, a{
                        font-size: 3rem;
                        color: $whiteish;
                        text-decoration: none;
                        margin: 20px auto;
                    }
                }
                
            }
            .nav-responsive.active{
                transform: translateX(0);
                opacity: 1;
                transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
                z-index: 2000;
            }
            
        }
        /*----------HEADER END------------------------------------------*/
        .home-page-wrapper{
            padding-top: 50px;
            width: 100%;
            #scroll{
                display: none;
            }
            .navigation-wrapper{
                display: none;
            }
            .main-wrapper{
                width: 100%;
                flex-direction: column;
                .left{
                    display: none;
                }
                .picture{
                    position: static;
                    width: 250px;
                    height: 400px;
                    opacity: 1;
                    margin: 5px auto;
                    img{
                        width: 100%;
                        height: 100%;
                        border: none;
                    }
                }
                .right{
                    width: 100%;
                    height: 500px;
                    -webkit-transform: translateX(0);
                    -moz-transform: translateX(0);
                    -ms-transform: translateX(0);
                    -o-transform: translateX(0);
                    transform: translateX(0);
                    padding: 0;
                    .right-text-wrapper{
                        width: 100%;
                        opacity: 1;
                        float: left;
                        text-align: center;
                        p{
                            width: 90%;
                            margin: 0 auto;
                            font-size: 2.5rem;
                        }
                    }
                }
            }
        }
        /*----------HOMEPAGE END------------------------------------------*/
        .space-page-wrapper{
            display: none;
        }
        .about-page-wrapper{
            flex-direction: column;
            .box{
                width: 100%;
                padding-top: 0;
                h1{
                    display: none;
                }
                .textbox{
                    height: 150px;
                    opacity: 1;
                    margin: 0 5px;
                    h2::before{
                        height: 2px;
                        margin-bottom: 25px;
                    }
                }
                .description{
                    opacity: 1;
                    margin: 20px auto;
                }
            }
        }
        /*----------ABOUT PAGE END------------------------------------------*/
        .portfolio-page-wrapper{
            flex-direction: column;
            .portfolio-page{
                width: 100%;
                padding-top: 0;
                h1{
                    display: none;
                }
                .project-wrapper{
                    padding-top: 10px;
                    .project{
                        width: 280px;
                        height: 150px;
                        opacity: 1;
                        .cover{
                            a{
                                margin: 50px 20px 20px;
                            }
                        }
                    }
                }
            }
        }
        /*----------PORTFOLIO PAGE END------------------------------------------*/
        .contact-page-wrapper{
            flex-direction: column;
            .contact-page{
                width: 100%;
                padding: 0;
                .contact-me{
                    width: 100%;
                    height: 650px;
                    margin: 0 auto;
                    padding: 0;
                }
            }
            .contact-page.cp-left{
                .contact-me.box-left{
                    float: none;
                    border-radius: 0;
                    -webkit-transform: translateX(0);
                    -moz-transform: translateX(0);
                    -ms-transform: translateX(0);
                    -o-transform: translateX(0);
                    transform: translateX(0);
                    background-color: $mainColor;
                    color: $whiteish;
                    h1 {
                        font-size: 6rem;
                    }
    
                    h2 {
                        font-size: 4.5rem;
                    }
    
                    h3 {
                        font-size: 3.5rem;
                    }
                    .contact-form{
                        margin: 50px auto 0;
                        border: 5px solid $whiteish;
                        input{
                            border-bottom: 2px solid $whiteish;
                        }
                        ::placeholder{
                            color: $whiteish;
                        }
                        input[type= submit]{
                            background-color: $whiteish;
                            color: $mainColor;
                            font-size: 3rem;
                            width: 150px;
                            height: 35px;
                        }
                    }
                }
            }
            .contact-page.cp-right {
                background-color: none;
                .contact-me.box-right {
                    background-color: inherit;
                    -webkit-transform: translateX(0);
                    -moz-transform: translateX(0);
                    -ms-transform: translateX(0);
                    -o-transform: translateX(0);
                    transform: translateX(0);
                    border-radius: 0;
                    .avatar{
                        margin: 20px auto;
                        background-color: $mainColor;
                        .hi{
                           display: none;
                        }
                    }
                    h1, .social-media a{
                        color: $mainColor;
                    }
                    h1{
                        font-size: 6rem;
                    }
                    .social-media{
                        a{
                            svg{
                                font-size: 8rem;
                                margin: 80px 10px 10px;
                            }
                        }
                    }
                    h1::after{
                        background-color: $mainColor;
                    }   
                }
            } 
        }
        /*----------CONTACT PAGE END------------------------------------------*/
        footer{
            flex-direction: column;
            .footer-box{
                width: 90%;
                padding: 5%;
            }
            .footer-box.left{
                flex-direction: column;
                .footer-message{
                    width: 100%;
                    h1{
                        font-size: 4.5rem;
                    }
                    h2{
                        font-size: 3.5rem;
                    }
                    a{
                        font-size: 2.5rem;
                    }
                }
                .footer-contact{
                    margin-top: 30px;
                    width: 100%;
                    .footer-logo{
                        background-position: center;
                    }
                    ul{
                        text-align: center;
                        svg, span{
                            font-size: 3.5rem;
                        }
                    }
                }
            }
            .footer-box.right{
                justify-content: space-around;
                .pages, .footer-social-media{
                    margin-left: 0;
                    width: 50%;
                }
                a, a span{
                    font-size: 2rem;
                }
                .footer-social-media{
                    svg{
                        margin: 0 10px 0 0;
                    }
                }
            }
        }
        /*----------FOOTER PAGE END------------------------------------------*/
        .copyright{
            width: 90%;
            padding: 5%;
            h1{
                margin: 25px 5px;
            }
            p{
                font-size: 2.5rem;
            }
        }
        /*----------COPYRIGHT PAGE END------------------------------------------*/
    }
@import "keyframes-responsive";
}
/*screen and (min-width: 320px) and (max-width: 999px) END */